

.jb-img>img{

position: absolute;
border-radius:50%;
width: 256px;
height: 300px;
left: 110px;
top: 110px;
padding:10.5px;
}


.jb-img{
width: 500px;
height: 550px;
background-color:#000000;
position:absolute;
left:500px;

}




.details{
	
position: absolute;	
left: -385.5px;
top: 50px;	
	
	
}


.info-section{
	
position: absolute;	
left: 20%;
top: 20%;
right:20%;
bottom:20%;	

	
	
}



#info-name{


position: absolute;
width: 256px;
height: 150px;
left: 500px;
top: 400px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
text-align: center;
color: #FFFFFF;



}



#dev{

position: absolute;
width: 256px;
height: 150px;
left: 500px;
top: 440px;
font-size: 15px;
text-align: center;
color: #FFC300 ;

}




.like-button{
	
	
	position: absolute;
	left: 500px
}

#website{

position: absolute;
width: 256px;
height: 150px;
left: 500px;
top: 470px;
font-size: 12.5px;
text-align: center;
color:#F5F5F5;
}


